body {
  text-align: center;
}

canvas {
  position: relative;
  top: -50px;
}

.wrapper {
  height: 533px;
}

footer {
  background-color: #00567e;
  color: white;
  padding: 5px 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  font-size: 1rem;
}
